extends layout

block content
                                
    .container-fluid.main-content.gradient1
        .row.content1.main-verbiage
            .col-sm-12
                h1 A better way to grind
                h3 Freshly roasted coffee beans delivered weekly to your door.
        .row.content2.verbiage1
            .col-sm-12
                p How It Works
    
        .row.content3.verbiage2.wrap
            #step-one.col-sm-12.step
                h1.title 1. We get the coffee
                p Each bean is hand selected
                p Each bean is measured for precise size
                p Each bean is tenderly caressed
            
        .row.content4.verbiage1.wrap
            #step-two.col-sm-12.step
                h1 We pick-up the coffee
                p We place the coffee in bags
                p Each bag is transported in climate-controlled trucks
                p Every six hours the bags are rotated to keep the beans uniform and delicious
            //- .col-sm-12.arrow-holder
            //-     .arrow-down
                
        .row.content5.verbiage2.wrap
            #step-three.col-sm-12.step
                h1 3. You drink the coffee
                p the coffe taste delicious
                p you want more coffee!!
                
        .row
            #get-started.col-sm-12
                a(href="/register")
                    button.btn.btn-primary(type="button") Get Started
