doctype html
html
  head
    title= title
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Oswald|Indie+Flower|Dosis")
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    .footer
        p &copy 2015 DigitalCrafts Java House
    
