
.navbar.navbar-default.navbar-static-top(role='navigation')
    .container
        .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target="#options-nav", aria-expanded="false")
                span.icon-bar
                span.icon-bar
                span.icon-bar
        #options-nav.navbar-collapse.collapse
            ul.nav.navbar-nav
                li
                    a(href='/').fa.fa-home
                        span Home
                li
                    a(href='/').fa.fa-coffee
                        span Options
                li
                    a(href='/').fa.fa-truck
                        span Delivery
                li
                    a(href='/').fa.fa-credit-card
                        span Payment
                    
